<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="WOW" connectionString="Server=YOURSQLSERVER;Database=WOW;User Id=YOURUSERID;Password=YOURPASSWORD;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="APIKey" value="YOURAPIKEY"/>
    <add key="ImageFolder" value="PATHTOYOURICONFOLDER"/>
    <add key="DoIconSync" value="False"/>
  </appSettings>
</configuration>